.mp-pricing-table {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1em;
	color: #1A3060;
	font-size: 18px;
	font-family: Helvetica;
	font-weight: bold;

	@media (max-width: 767px) {
		display: block;
	}

	@media (min-width: 768px) and (max-width: 1024px) {
		grid-template-columns: repeat(2, 1fr);

		.premium {
			grid-column: 1 / -1;
			grid-row: 1;
		}
	}
}

.mp-pricing-table > * {
	padding: 1rem;
}

.mp-pricing-table-block {
	border: 3px solid #D9E4FD;
	border-radius: 5px;
	box-shadow: 0px 2px 4px -2px #0000001A;
	box-shadow: 0px 4px 6px -1px #0000001A;
	cursor: pointer;

	@media (max-width: 767px) {
		margin-bottom: 1em;
	}
}

.mp-pricing-table-block:focus {
	border: 3px solid #009344;
	transition: all 0.5s ease-out;
	transform: scale(1.06);
	animation: 0.5s showScale;
	outline: none;

	.mp-pricing-table-cta_text a {
		background-color: #009344;
		color: #FFFFFF;
		transition: all 0.5s ease-out;

		&:focus-visible {
			outline: none;
		}
	}
}

.mp-pricing-table-cta_text a {
	border: 3px solid #009344;
	border-radius: 5px;
	padding: 10px;
	display: block;
	color: black;
	text-decoration: none;
	text-align: center;

	&:hover {
		background-color: #009344;
		color: #FFFFFF;
		transition: all 0.5s ease-out;
	}
}

.mp-pricing-table-plan {
	font-size: 26px;
}

@keyframes showScale {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(1.06);
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	.mp-pricing-table-cta_text a,
	.mp-pricing-table-cta_text a:hover {
		animation-duration: 0.001ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.001ms !important;
	}
}